<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358321390599-1etf1jkep1tec0ea9hvit1l6755t8u4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358321390599-1etf1jkep1tec0ea9hvit1l6755t8u4j</string>
	<key>API_KEY</key>
	<string>AIzaSyC_aBlL5OOXWwZ8rvJxI2MVaDOEHSM70Gk</string>
	<key>GCM_SENDER_ID</key>
	<string>358321390599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>detail-keeping-app</string>
	<key>STORAGE_BUCKET</key>
	<string>detail-keeping-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358321390599:ios:0a10dba74b4729ae7fd6a2</string>
</dict>
</plist>